<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
  <h1>Biblioteca Y Productos Varios</h1>
  <a class="logout" href="/logout">Cerrar sesión</a>
</div>

<div class="container">
  <h2>Stock de Productos (MongoDB)</h2>

  <a class="btn" href="/producto/nuevo">Agregar producto</a>
  <a class="btn" href="/productos/exportar/pdf">Exportar PDF</a>
  <a class="btn" href="/productos/exportar/xlsx">Exportar Excel</a>
  <a class="btn" href="/menu">Volver al menú</a>

  <br><br>

  <table border="1">
    <tr>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    {% for p in productos %}
    <tr>
      <td>{{ p.nombre }}</td>
      <td>{{ p.categoria }}</td>
      <td>${{ "%.2f"|format(p.precio) }}</td>
      <td>{{ p.stock }}</td>
      <td><a href="/producto/editar/{{ p._id }}">Editar</a></td>
      <td><a href="/producto/eliminar/{{ p._id }}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

</body>
</html>